* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: #f6f6f6;
    text-decoration-line: none;
}

a:link {
    color: #f6f6f6;
}

a:visited {
    color: #f6f6f6;
}

a:hover {
    color: #ececec;
}

::selection {
    background: #d3d3d3;
    color: #4d4d4d;
}

body {
    background: #ececec;
}

.container {
    background: #fff;
    width: 1000px;
    margin: 100px auto;
    padding: 10px;
}

.container .profile {
    background: #4d4d4d;
    padding: 70px;
    color: #f6f6f6;
}

.container .profile .name {
    margin-bottom: 30px;
    font-size: 110%;
}

.container .profile .sentence {
    font-size: 90%;
}

.container .profile .sentence p {
    margin: 5px 0;
}

.container .profile .contact {
    margin-top: 20px;
}

.container .profile .contact img {
    color: #fff;
    width: 25px;
    margin-right: 10px;
}

.container .profile .contact img:hover {
    opacity: 0.8;
}

.container .work {
    height: 1000px;
    background: #f6f6f6;
    padding-top: 10px;
    padding-bottom: 10px;
}

.container .work .box {
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
    background: #fff;
    display: flex;
    flex-direction: row;
}

.container .work .box .rightpart {
    padding: 20px;
}

.container .work .box .rightpart h2 {
    margin-bottom: 10px;
}

.container .work a {
    color: #000;
}

.container .work a:link {
    color: #000;
}

.container .work a:visited {
    color: #000;
}

.container .work a:hover {
    color: #000;
}

.container .work .box:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.07);
}

.container .work img {
    height: 100px;
    width: 100px;
}

.container footer {
    background: #4d4d4d;
    text-align: center;
    padding: 30px;
}

.container footer strong {
    font-size: 80%;
}

.container footer p {
    color: #f6f6f6;
}

@media screen and (max-width:1200px) {
    .container {
        width: 91%;
        margin: 10% auto;
    }
    .container .work .box {
        font-size: 70%;
    }
}